body{
	font: 15px/1.5 Arial, Helvetica, sans-serif ;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4: 
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

 ul{
	margin: 0;
	padding: 0; 
}



/* Header */
header{
/*	background: rgba(84, 88, 92, 0.4);
*/  background-color: #1E1F26;
	color: #CCCCCC;
	padding-top: 15px;
	min-height: 60px;
	box-shadow: 5px 0px 4px black;
}

header a{
	color:#CCCCCC;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px; 
}

header #branding{
	float: left;
}


header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px; 
}

header .highlight, header .current {
	color: #e8491d;
	font-weight: bold;
}


/* footer */
footer{
	padding:10px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #1E1F26;
	text-align: center;
}

#section-1{
	width: 60%;
	margin:auto auto;
}


.signup{
	min-height: 450px;
	min-width: 300px;
	background-color: rgba(84, 88, 92, 0.4);
	border-radius: 10px;
	border:1px solid #CCCCCC;
}


#section-1 .signup table{
	margin:60px auto;
	width: auto;
}


#section-1 .signup table tr td{
	height: 48px;
}

#section-1 .signup  input[type="text"],
#section-1 .signup  input[type="Password"],
#section-1 .signup  input[type="submit"]{
	display: block;
    width: 100%;
    height: 80%;
    border-radius: 7px;
    border:1px solid #CCCCCC;
    font-size: 20px;

}
 
#section-1 .signup  table  span{
	font: 15px/1.5 Arial, Helvetica, sans-serif ;
	text-align: center;
}

/*Sign Ip page*/

#section-1-1{
	width: 70%;
	margin:auto auto;
	overflow-x: scroll;

}


.signin{
	min-height: 498px;
	min-width: 250px;
	background-color: rgba(84, 88, 92, 0.4);
	border-radius: 10px;
	border:1px solid #CCCCCC;
}


#section-1-1 .signin table{
	margin:60px auto;
	width: auto;
}


#section-1-1 .signin table tr td{
	height: 48px;
}

#section-1-1 .signin  input[type="text"],
#section-1-1 .signin  input[type="Password"],
#section-1-1 .signin  input[type="submit"]{
	display: block;
    width: 100%;
    height: 80%;
    border-radius: 7px;
    border:1px solid #CCCCCC;
    font-size: 20px;

}

#section-1-1 .signin  table  span{
	font: 15px/1.5 Arial, Helvetica, sans-serif ;
	text-align: center;
}



@media(max-width: 768px){

	header #branding,
	header nav,
	header nav li
	{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}


	#section-1{
		overflow-x: scroll;
	}

	#section-1 .signup  input[type="text"],
	#section-1 .signup  input[type="Password"],
	#section-1 .signup  input[type="submit"]{
		display: block;
	    width: 70%;
	    height: 80%;
	    border-radius: 10px;
	    border:1px solid black;
	    font-size: 20px;

		}

		/*Sign up page*/
		#section-1-1{
		overflow-x: scroll;
	}

}