body{
	font: 15px/1.5 Arial, Helvetica, sans-serif ;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4: 
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

 ul{
	margin: 0;
	padding: 0; 
}



/* Header */
header{
	background: #1E1F26;
	color: #CCCCCC;
	padding-top: 30px;
	min-height: 70px;
	box-shadow: 5px 0px 4px black;
}

header a{
	color:#ffffff;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px; 
}

header #branding{
	float: left;
}


header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px; 
}

header .highlight, header .current {
	color: #e8491d;
	font-weight: bold;
}

.intro{
	height:calc(450px - 70px);
	padding: 20px; 
	background-image: url('../assets/lambo.jpg');
	background-repeat: no-repeat;
	background-position: center;background-size: cover;
	color:white;

}

.intro p{
	margin-top: 70px;
	text-align: center;
	font-weight: 600;
	font-size: 25px;
}

.intro button{
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;}

.intro .order{
	margin-left:45%;
	border:none;
	padding: 20px; 
	margin-top: 50px;
}


/* boxes*/

#boxes{
	margin-top: 50px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding:15px; 
}

#boxes .box img{
	height: 250px;
	width: 250px;
}

#boxes .box p{
	margin:0;
	padding: 0;
}

/* footer */
footer{
	padding:10px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #1E1F26;
	text-align: center;
}


@media(max-width: 768px){

	header #branding,
	header nav,
	header nav li,
	#boxes .box{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	.intro .order{
		margin-left:30%;
		border:none;
		padding: 20px; 
		margin-top: 20px; 
	}



}


#login{
	width: 60%;
	margin:20px auto;
}


.signin{
	min-height: 450px;
	min-width: 300px;
	background-color: rgba(84, 88, 92, 0.4);
	border-radius: 10px;
	border:1px solid black;
}


#login .signin table{
	margin:100px auto;
	width: auto;
}


#login .signin table tr td{
	height: 50px;
}

#login .signin  input[type="text"],
#login .signin  input[type="Password"],
#login .signin  input[type="submit"]{
	display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border:1px solid black;
    font-size: 20px;

}
 
#login .signin  table  span{
	font: 15px/1.5 Arial, Helvetica, sans-serif ;
	text-align: center;
}